#demo1-section,
#demo2-section,
#demo3-section,
#demo4-section {
  text-align: center;
}
#demo3 {
  width: 100px;
  height: 100px;
  margin: auto;
}
.demo-red {
  background-color: red;
}
.demo-green {
  background-color: green;
}
.demo-blue {
  background-color: blue;
}
.demo-yellow {
  background-color: yellow;
}
#demo4-container {
  width: 200px;
  height: 100px;
  margin: auto;
}
#demo4 {
  width: 100%;
  height: 100%;
  background-color: tomato;
}
