.warp {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #gallery-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    text-align: center;
  }
  #gallery-main img {
    max-height: 400px;
  }
  .gallery-arrow {
    padding: 0 20px 0 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
  }
  .gallery-arrow:hover {
    color: lightgrey;
  }
  .gallery-arrow i {
    background-color: #515151;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
  }
  #gallery-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  #gallery-selector .gallery-item img {
    height: 240px;
    cursor: pointer;
    border: solid transparent 2px;
  }
  #gallery-selector .gallery-item img:hover,
  img.active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.1s;
    border: solid #515151 2px;
  }
  #gallery-selector .gallery-item:hover {
    z-index: 999;
  }
  @media only screen and (max-width: 1050px) {
    #gallery-main img {
      max-height: 200px;
    }
    #gallery-selector .gallery-item img {
      height: 130px;
      cursor: pointer;
      border: solid transparent 2px;
    }
  }
  