input[type="number"],
select {
  box-sizing: content-box !important;
  padding: 10px;
  width: 300px;
  margin: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #515151;
}
input[type="number"]:focus,
select:focus {
  outline: none;
  border-bottom: 3px solid tomato;
  transition: 0.2s;
}
.custom-select {
  position: relative;
  width: 300px;
  color: black;
  border-bottom: 3px solid #515151;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: transparent;
  color: #000000 !important;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent tomato transparent;
  top: 7px;
}
.select-items div,
.select-selected {
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: tomato;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#calBtn {
  font-size: 24px;
}
#result {
  font-size: 24px;
}
#operation {
  text-decoration: underline;
}
