@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #525659;
    font-family: 'Open Sans', sans-serif;
  }
  .box {
    margin: 40px auto 0 auto;
    background-color: #d8d8d8;
    width: 80vw;
    padding: 30px;
    min-height: 70vh;
    box-shadow: 0px 1px 37px -2px #000000;
    -webkit-box-shadow: 0px 1px 37px -2px #000000;
    -moz-box-shadow: 0px 1px 37px -2px #000000;
  }
  .box h1 {
    text-transform: uppercase;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .btn {
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #525659;
    border: none;
    box-shadow: 0px 1px 7px -2px #000000;
    -webkit-box-shadow: 0px 1px 7px -2px #000000;
    -moz-box-shadow: 0px 1px 7px -2px #000000;
    cursor: pointer;
  }
  .btn:hover {
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #525659;
    border: none;
    box-shadow: 0px 1px 15px -2px #000000;
    -webkit-box-shadow: 0px 1px 15px -2px #000000;
    -moz-box-shadow: 0px 1px 15px -2px #000000;
    transition: 0.3s;
  }
  footer {
    background-color: #515151;
    padding: 20px;
    margin: 20px 0 0 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0px 1px 15px -2px #000000;
    -webkit-box-shadow: 0px 1px 15px -2px #000000;
    -moz-box-shadow: 0px 1px 15px -2px #000000;
    text-align: right;
  }
  